<div class="row">
    <div class="col-sm-6">
      <div class="card shadow p-3 mb-5 bg-white rounded" id = "card" >
        <div class="card-body ">
          <h5 class="card-title">The Monk Who Sold His Ferrai</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card  shadow p-3 mb-5 bg-white rounded" id = "card">
        <div class="card-body">
          <h5 class="card-title">Man's Search for the Meaning</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>