<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<body onload="test()">
  <!-- <marquee> <h3>
    Life is short live it to the fullest..!!
  </h3></marquee> -->


  <h3>
    Time Stamp  - 03:10 hours - AM 
  </h3> 
  <hr>
  <h4>
      <b>note:</b> Ignore the typos & grammer if any, it it written in very short period of time.
  </h4>
 <hr>
 <h2>
   Summary
 </h2>
 <h3>
   Yesterday I had to rush to a hospital, one of the elder person in my opposite floor slipped on the stair case & had a serious fracture in the knee.
    We admitted her & all the medical process begun, everything seemed now to be in control.
    I was standing in the lobby, waiting for the Xray Reports & doctors,
    The Hospital was full of rush.
    <hr>

 </h3>
 <h2>
   The Reason to write this Post/Blog:
 </h2>
 <hr>
<h3>
  There was a elder lady standing besides me, I guess she was in her late 70's, she seemed to be from a well to do family, <br>
  finally the reports arrived, Dr. had given 2 options either go with plaster or operate, <br>
  after few minutes, the lady standing besides me spoke, <br>
  her husband had a fractured arm, which was tied to a arm bag <br>
  her words were: The Dr. also told us the same thing, either plaster or operate, <br>
  I asked with curiosity which one did you chose & why? <br>
  to this she replied: "I gave that choice to be made by my husband, he decided to go with Plaster." <br>
  I was observing the surroundings, <br>
  after sometime her husband came out of the consultation room, <br>
  she nodded a bye, <br>
  <h2>The main point</h2> <br>
  the husband had a arm/neck band around his entire arm & neck, he was not able to move properly, <br>
  the wife/the lady was aware of this, she without wasting a moment, bent down on her kness, i repeat on her kness, <br>
  put the feet of the man into his sandals & zipped them properly, <br>
  It was very similar to a mother being on her knees tying the shoe lases of her 3 year old kid who happened to leave for the school, <br>
  After seeing that Gesture from that lady I was taken a back, <br> <hr>
  only one word came in my mind at that very instant of time <b>Wow...!!!</b>  <br>
  Just Imagine the bond between those two human beings who were in their late 70's, I really was left Aghast,,, <br>
  <hr>
  If we compare it with today's scenario & Relationships it is no way close to current world / so claeed zenzee,  <br>
  where Egos are more bigger than the existance of the other person, <br>
  Where people get into relationships & after 1 or 2 years these humans are total strangers, they dont care whether other one exists or not,<br>
  When you see such type of scenarios the Contrast is Very Huge...! <br>
  
  <hr>
  <h2>
    Few Points that star struck in my mind today because of this incident are as follows:
<hr>
<h3>
 1)  The Lady was so humble she, literally sat on her knees, to help her better half wear his footwear, <br>
  she colud have easily denied doing that & would have asked the gentle man to do it on his own, <br> I am not gonna bend & tie your shoe laces you do it on your or forget it
   But she didn't. <br>
   <hr>
   2)  She let her Husband decide to choose what treatment option he wanted & didn't give any forcing advice, <br>
   & whatever he may choose there were chances it may go wrong, but her gestures clearly showed that what may the consequences be, she shall be there right <br>
   holding his back, no matter whatever the circumstances be...!!! <br>
   Wonderful Isn't It?   
</h3>     
  </h2>
<br>
<h3>
  <b>
    The little incident ends here hope you find it worth a read...!
  </b>
</h3>
<hr>
<h2 style="color: green;">
  <i> <b>
    One Last Question to all the folks who happen to read this Post, <br>
    Would you bent down on your knees for your better half when they need you in the unprecidented times of their life in your Late 70's ??? <br>
  </b>
  </i>
</h2>
</h3>
</body>
</html>


<router-outlet></router-outlet>
